[Unit]
Description=Pi-UpTime UPS 2.0

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u uptime-2.0-systemd.py
WorkingDirectory=/home/pi/Documents/dev/uptime2.0
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
